body {
    background-image: url(./back.png);
    color: white;
}

.tempEstudo .container {
    display: flex;
    align-items: cener;
    width: 1500px; 
    margin: 0 auto;
    flex-wrap: wrap;;
}

.tempEstudo .container li {
    width: 200px;
    height: 200px;
    border: 1px solid rgb(201, 201, 201);
    list-style: none;
}





/* 

.grade1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.grade2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.box {
    border: 1px solid black;
    background: rgb(27, 27, 27);
    height: 450px;
    width: 380px;
    margin: 50px 30px;
}


.box-img {
    background: rgb(58, 175, 103);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 100%;
}

.box-informacao {
    background: red;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
}

.box p, h2 {
    text-align: center;
    color: white;
    font-size: 1.8em;
}

.box-conquista {
    background: rgb(26, 170, 214);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 138px;
    width: 100%;
} */