* {
    padding: 0;
    margin: 0;
    background: rgb(65, 65, 65);
    
}

/* background: linear-gradient(27deg, rgba(2,0,36,1) 33%, rgba(15,51,77,1) 58%, rgba(29,106,121,1) 84%); */

.recent_game {  
    backdrop-filter: blur(20px);
    background-color: rgba( 0, 0, 0, 0.3 );
    border-radius: 3px;
    margin-bottom: 21px;
    width: 651.99px;
    height: 145.43px;
}

.recent_game_content {
    padding: 8px 10px;
    background-color: rgba( 0, 0, 0, 0.3 );
}

.recent_game .game_info {
    position: relative;
    height: 69px;
    background-color: rgba( 0, 0, 0, 0.3 );
}

.recent_game .game_info_status {
    padding: 9px 11px 10px;
    background-color: rgba(34, 35, 48, 0.93);
    border-radius: 3px;
    margin-top: 9px;
}














/* 
.principal {
    padding: 12px 12px 64px 12px;
    width: 952px;
    margin: 0 auto;
}



.bloco-do-mes {
    background: linear-gradient(27deg, rgba(2,0,36,1) 33%, rgba(15,51,77,1) 58%, rgba(29,106,121,1) 84%);
    width: 940px;
    
}

.a {
    padding: 20px;
    color: white;
}

.bloco-foto {
    width: 130px;
}

.bloco-hora {
    padding: 20px;
    background: #5D737E;
    display: flex;
    justify-content: flex-end;
}

.bloco-progresso {
    
}

.bloco-conquistas {
    display: flex;
    justify-content: flex-end;
}

.conquista-icon {
    width: 50px; 
    }
    */
