* {
    padding: 0;
    margin: 0;
    background: rgb(65, 65, 65);
}



.principal {
    padding: 12px 12px 64px 12px;
    width: 952px;
    margin: 0 auto;
}



.bloco-do-mes {
    background: rgb(80, 80, 97);
    width: 940px;
}

.bloco-titulo {
    padding: 20px;
}

.bloco-foto {
    width: 130px;
}

.bloco-hora {
    padding: 20px;
    display: flex;
    justify-content: flex-end;
}

.bloco-progresso {
    
}

.bloco-conquistas {
    display: flex;
    justify-content: flex-end;
}

.conquista-icon {
    width: 50px;
}